*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* ------------------------header------------------------ */
header{
  position: relative;
  width: 100%;
  height: 800px;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../src/referensi.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* ----------brand---------- */
.brand{
  display: inline-block;
  font-size: 50px;
  font-weight: 200px;
  color: #44bd32;
  position: relative;
  bottom: 70px;
  left: 100px;
}
/* ----------navbar---------- */
nav{
  width: 100%;
  height: 100px;
  display: inline-block;
}

nav ul{
  position: relative;
  list-style: none;
  right: 70px;
  float: right;
  line-height: 100px
}

nav li{
  position: relative;
  float: left;
  margin-right: 50px;

}

nav a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 5px;
}

nav a:link, nav a:visited{
  color: whitesmoke;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s, color 0.5s;
}

nav a:hover{
  border-bottom: 2px solid #44bd32;
  color: #44bd32;
}

/* ----------tulisan header---------- */
.header-h1{
  color: whitesmoke;
  font-size: 60px;
  margin: 100px 0 0 100px;
  font-weight: 300;
}

.header-p{
  color: whitesmoke;
  margin: 20px 0 0 100px;
  font-size: 25px;
  font-weight: 300;
}

/* ----------button header---------- */
header button{
  position: relative;
  left: 100px;
  top: 20px;
  color: whitesmoke;
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  transition: background-color 0.5s, border 0.5s;
  font-size: 20px;
  font-weight: 300;
}
 
header button:hover{
  background-color: #44bd32;
  border: 2px solid #44bd32;
  cursor: pointer;
}


/* paragraph */
main p{
  font-size: 30px;
  font-weight: 300;
  color: black;
}


/* ul li a */
main ul{
  list-style: none;
}

main a:link, main a:visited{
  font-size: 20px;
  font-weight: 300;
  color: blue
}

main a:clicked{
  color: rgb(193, 193, 255);
}

/* main */
main section{
  margin: 10px 10px;
}

.info{
  float: left;
  margin-left: 15%
}

.foto{
  float: left;
  margin-left: 5%;
}

.foto-background{
  float: left;
  margin-left: 5%;
}

.icon{
  float: left;
  margin-left: 5%;
}

/* footer */
footer{
  width: 100%;
  height: 400px;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../src/GunungBromo.jpg');
  background-size: cover;
  background-attachment: fixed;
}

footer h2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  font-weight: 300;
  color: whitesmoke;
}

footer span{
  font-weight: 400;
  color: #44bd32;
}

/* fixed-button */
.fixed-button{
  position: fixed;
  width: 50px;
  height: 50px;
  border: 4px solid #44bd32;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  transition: .5s;
}

.arrow-up{
  font-size: 45px;
  color: #44bd32;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%); 
  transition: .3s;
}

.fixed-button:hover{
  border-color: rgb(51, 168, 30);
  background-color: rgb(51, 168, 30);
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
}

.fixed-button:hover .arrow-up{
  color: whitesmoke;
}


/* micro clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}